/* css reset  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* actual code  */
body {
	background-color: rgb(34, 39, 46);
	color: rgb(211, 203, 203);
	font-family: "Ubuntu", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header {
	z-index: 10;
	width: 100%;
}

main {
	padding-top: 80px;
	flex: 1;
	width: 100%;
}

#menu {
	display: flex;
	align-items: center;
	background-color: rgb(33, 38, 57);
	position: fixed;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.141);
	padding: 0 20px;
	box-sizing: border-box; 
}

.navbar {
	margin: 0 40px;
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
}

#menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 0 20px;
	margin: 3px;
	transition: color 0.5s, border-bottom-color 0.5s;
	font-weight: bold;
}

#menu a:hover {
	cursor: pointer;
	color: rgb(0, 255, 213);
}

.home {
	display: flex;
	justify-content: center;
}

.sidebar-container {
	display: flex;
    justify-content: center;
    width: 10%;

}

.sidebar-toggle {
	transform: scale(2);
	cursor: pointer;
	color: white;
	width: 20%;
	text-align: center;
}

.name-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 240px;
	height: 60px;
	overflow: hidden;
}

.name {
	font-size: 2rem;
	position: absolute;
	opacity: 0;
	transform: translateY(100%);
	animation: swap 4s infinite;
}

.name.first {
	animation-delay: 0s;
}

.name.second {
	animation-delay: 2s;
}

@keyframes swap {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	40%,
	45% {
		opacity: 1;
		transform: translateY(0);
	}
	70% {
		opacity: 0;
	}
	100% {
		transform: translateY(-100%);
	}
}

.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.pages ul {
	display: flex;
	padding-inline-start: 0px;
}

.pages ul li {
	list-style: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: 80px;
	position: relative;
}

.pages ul li::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgb(0, 255, 195);
	transition: width 0.6s ease-in-out;
}

.pages ul li:hover::before {
	width: 100%;
}

.sidebar-container:hover #sidebar,
#sidebar:hover {
	left: 0px;
	transition: all 0.4s;
}


#sidebar {
    z-index: 1000;
	position: fixed;
	top: 0;
	left: -600px;
	height: 100%;
	width: 500px;
	background-color: rgba(16, 17, 25, 0.929);
	padding: 50px 50px 30px 50px;
	border-left: rgba(255, 255, 255, 0.353) 1px solid;
	transition: all 0.2s;
	overflow-y: auto;
}

#sidebar a {
	text-decoration: none;
	color: rgb(0, 251, 0);
}


#declare {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-style: italic;
	margin-top: 100px;
}

#buggy {
	font-family: monospace;
	color: red;
	margin-top: 30px;
    animation: fadein  1 forwards 1s;
    animation: blinking infinite .5s alternate;
}

.socials {
	padding-top: 70px;
	text-align: center;
}

.socials ul {
	all: unset;
	position: relative;
	display: flex;
	list-style-type: none;
	gap: 50px;
	padding: 10px 0px;
	align-items: center;
	justify-content: center;
}

.socials img {
	width: 30px;
	height: 30px;
}

#sidebar::-webkit-scrollbar {
	width: 8px;
}

#sidebar::-webkit-scrollbar-thumb {
	background-color: #8888881b;
	border-radius: 6px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
	background-color: #55555563;
}

#sidebar::-webkit-scrollbar-track {
	background: #f1f1f100;
}


.footer {
	background-color: rgb(31, 33, 40);
	color: rgb(211, 203, 203);
	text-align: center;
	padding: 20px 0px;
	bottom: 0px;
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer a:hover {
	color: rgb(187, 144, 235);
}

.footer-content {
	display: flex;
	justify-content: center;
	padding: 0 10px;
	gap: 120px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer ul {
	text-align: center;
}

.footer ul li {
	list-style: none;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.links-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 40px;
	row-gap: 10px;
}

.links-grid .links {
	justify-self: center;
	margin: 0;
}

.footer-bottom {
	display: block;
	margin-top: 20px;
}

.footer-bottom img {
	width: 50px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #8888881b;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #55555563;
}

::-webkit-scrollbar-track {
	background: #f1f1f100;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

#scrollToTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #00000020;
	color: white;
	border: none;
	width: 30px;
	height: 40px;
	margin-top: 10px;
	padding: 1% 1% 1% 1%;
	cursor: pointer;
	display: none;
	border-radius: 10%;
}

#scrollToTopBtn img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#scrollToTopBtn.show {
	display: block;
}

.mirror {
	transform: scaleX(-1);
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 20px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


@media screen and (max-width: 1000px) {
	#menu {
		flex-direction: column;
		height: 150px;
		padding-top: -10px;
	}
	.navbar {
		display: flex;
		width: 100%;
	}

	.navbar > .home {
		flex: 1;
	}


}

/* maintanence */
#maintainance {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(136, 136, 68);
	height: 900px;
	font-size: 2rem;
}

#maintainance img {
	height: 400px;
}
