.sections {
	margin-bottom: 5px;
}

/* first section part  */
.firstsection {
	background-image: url(./1images/graphic3.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex: 1;
	background-color: rgb(36, 40, 70);
	justify-content: space-around;
	height: 900px;
	box-shadow: 0px 5px black;
	overflow: hidden;
	min-width: 100%;
}

.firstleft {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	font-size: 3rem;
	animation: fadeinleft 1s 1 forwards;
	text-align: center;
}

.firstleft > text {
	min-width: 400px;
}

.firstright {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 40%;
}

.firstright img {
	padding-top: auto;
	width: auto;
	height: 800px;
	filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
	animation: fadeinbottom 2s 1 forwards;
}

/* typing animation */
.typing {
	border-right: 0.1em solid #00ffab;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	height: 1.12em;
	animation: blink 0.5s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.fbtn {
	background-color: #218c18;
	border: rgb(0, 255, 85) 2px solid;
}

/* Get started button  */
.navbtn {
	display: flex;
	align-items: center;
	font-family: monospace;
	padding: 10px 20px;
	color: rgb(255, 255, 255);
	margin-top: 70px;
	font-size: 1.3rem;
	border-radius: 4px;
	transition: background-color 0.5s, border 0.5s;
	gap: 10px;
	opacity: 0;
	animation: fadein 2s 1 2s forwards;
}

.navbtn:hover {
	background-color: rgba(0, 0, 0, 0);
	border: white 2px solid;
	transition: all 0.5s;
}

.navbtn img {
	width: auto;
	height: 30px;
	transition: filter 0.5s;
}

.navbtn:hover img {
	width: auto;
	filter: hue-rotate(180deg) saturate(3) brightness(0.6) invert();
	transition: filter 0.5s;
}

.down {
	display: flex;
	width: auto;
	height: 100px;
	cursor: pointer;
	filter: invert();
	animation: mildbounce 2s infinite alternate-reverse;
}

/* responsive first */
@media screen and (max-width: 1000px) {
	.firstsection {
		background-color: rgb(36, 40, 70);
		display: flex;
		flex-direction: column-reverse;
		padding-top: 20px;
		justify-content: flex-end;
		align-items: center;
		box-shadow: 0px 5px black;
		overflow: hidden;
	}

	.firstright {
		height: 300px;
	}

	.firstright * {
		font-size: 30px;
	}

	.firstright img {
		height: 60%;
		margin-bottom: 50px;
	}

	.firstleft {
		font-size: 8vw;
		min-width: 700px;
	}
}

/* second section part */

.secondsection {
	background-image: url(./1images/graphic7.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex: 1;
	height: 900px;
	flex-direction: column;
	background-color: rgb(6, 22, 58);
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px black;
	overflow: hidden;
	min-width: 90%;
}

.secondcontainer {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 70%;
	width: 60%;
	background: rgba(255, 255, 255, 0.138);
	border-radius: 20px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	color: rgb(255, 253, 253);
	font-size: 1.5em;
	width: 80%;
	padding: 20px;
	gap: 20px;
	transition: all 0.25s;
}

.bottomfade {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.bottomfade.in-view {
	opacity: 1;
	transform: translateY(0);
}

.secondcontainer:hover {
	transform: scale(1.01);
	transition: all 0.25s;
}

#abouticon {
	width: 500px;
}

#abouticon img {
	border: 1px solid rgba(255, 255, 255, 0.259);
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(101, 186, 255, 0.322);
	padding: 10px;
	border-radius: 20%;
}

#abouticon {
	border-right: rgba(207, 248, 255, 0.604) 2px solid;
	padding: 30px 50px;
}

#aboutdesc {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sbtn {
	width: auto;
	background-color: #1b7dd9;
	border: rgb(0, 247, 255) 2px solid;
}

.down {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 5px;
	color: black;
	align-items: center;
}

#scrollToProfile {
	height: auto;
	width: 65px;
}

/* responsive second */
@media screen and (max-width: 1000px) {
	.secondcontainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 80%;
	}

	#abouthead {
		display: none;
	}

	#abouticon {
		width: 300px;
		border: none;
	}

	#abouticon img {
		width: 100%;
		height: 100%;
	}

	.down {
		bottom: 0px;
	}
}

/* third section  */
.thirdsection {
	background: linear-gradient(
			to bottom,
			rgba(14, 22, 59, 0.743),
			rgba(1, 91, 67, 0.5)
		),
		url("./1images/graphic6.png");
	background-size: cover;
	height: 1800px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 20px;
}

.thirdfirst {
	width: 60%;
	display: flex;
	flex-direction: column;
	color: #fff;
}

#skillbars {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.skillbar {
	display: flex;
	align-items: center;
}

.skill-text {
	width: 100px;
	font-size: 1.2em;
}

.skill-line-container {
	width: 100%;
	height: 10px;
	background-color: #11b09546;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 10px;
	position: relative;
}

.skill-line {
	height: 80%;
	background-color: rgb(66, 225, 188);
	border-radius: 5px;
	position: absolute;
	top: 1px;
	left: 1.5px;
	transition: width 1s ease-in-out;
}

.skill-percentage {
	font-size: 1.2em;
}

.thirdsecond {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#thirdsecondheader {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#skillSet {
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	gap: 20px;
}

.sets {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 5px;
	padding-bottom: 20px;
	transition: transform 0.5s;
	width: 150px;
	height: 150px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.sets:hover {
	transform: scale(1.03);
	transition: 0.5s;
}

.sets > img {
	height: 70%;
	width: 70%;
	object-fit: contain;
}

.label {
	position: absolute;
	bottom: 10px;
	color:white;
}

.lang {
	border: 2px solid rgb(1, 255, 221);
}

.tech {
	border: 2px solid rgb(0, 225, 255);
}

.redirectport{
	border: 2px solid rgb(255, 255, 255);
}
/* third responsive */

@media screen and (max-width : 1000px) {
	.sets{
		width: 100px;
		height: 100px;
	}	

	#thirdsecondheader , #thirdfirstheader{
		font-size: 20px;
	}
}
